<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <form th:fragment="create-observatory-form" id="create-observatory-form" x-data @keydown.enter.prevent
        @htmx:after-request="if($event.detail.successful && $event.detail.elt.id === 'create-observatory-form') {
            $el.reset();
            const modal = bootstrap.Modal.getInstance(document.getElementById('createObservatoryModal'));
            if (modal) modal.hide();
          }" th:object="${observatoryForm}" hx-post="/observatory" hx-target="#observatorySelector"
        hx-swap="outerHTML">
        <style>
            #includedScopeContainer:has(li:not(.scope-list-placeholder)) .scope-list-placeholder {
                display: none;
            }
        </style>
        <div class="mb-3">
            <label for="nameInput">Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="nameInput" placeholder="Default Name"
                autocomplete="off">
        </div>
        <div class="accordion mb-3" id="observatoryAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingCoordinates">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseCoordinates" aria-expanded="true" aria-controls="collapseCoordinates">
                        Coordinate
                    </button>
                </h2>
                <div id="collapseCoordinates" class="accordion-collapse collapse show"
                    aria-labelledby="headingCoordinates" data-bs-parent="#observatoryAccordion">
                    <div class="accordion-body">
                        <div class="row mb-3">
                            <label for="stampSelect">STAMP</label>
                            <select th:field="*{selectedStampCoordinate}" class="form-select" id="stampSelect">
                                <option th:each="stampCoordinate : ${stampCoordinates}"
                                    th:value="${stampCoordinate.id().nid()}" th:text="${stampCoordinate.name()}">
                                </option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="languageSelect">Language</label>
                            <select th:field="*{selectedLanguageCoordinate}" class="form-select" id="languageSelect">
                                <option th:each="languageCoordinate : ${languageCoordinates}"
                                    th:value="${languageCoordinate.id().nid()}" th:text="${languageCoordinate.name()}">
                                </option>
                            </select>
                        </div>

                        <div class="row mb-3">
                            <label for="navigationSelect">Navigation</label>
                            <select th:field="*{selectedNavigationCoordinate}" class="form-select"
                                id="navigationSelect">
                                <option th:each="navigationCoordinate : ${navigationCoordinates}"
                                    th:value="${navigationCoordinate.id().nid()}"
                                    th:text="${navigationCoordinate.name()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingModularity">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseModularity" aria-expanded="false" aria-controls="collapseModularity">
                        Modularity
                    </button>
                </h2>
                <div id="collapseModularity" class="accordion-collapse collapse" aria-labelledby="headingModularity"
                    data-bs-parent="#observatoryAccordion">
                    <div class="accordion-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="includedModuleSelect">Included</label>
                                <select th:field="*{selectedIncludedModules}" class="form-select"
                                    id="includedModuleSelect" multiple aria-label="Multiple select for Included Modules"
                                    style="min-height: 250px;">
                                    <option th:each="module : ${modules}" th:value="${module.id().nid()}"
                                        th:text="${module.name()}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="excludedModuleSelect">Excluded</label>
                                <select th:field="*{selectedExcludedModules}" class="form-select"
                                    id="excludedModuleSelect" multiple aria-label="Multiple select for Excluded Modules"
                                    style="min-height: 250px;">
                                    <option th:each="module : ${modules}" th:value="${module.id().nid()}"
                                        th:text="${module.name()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>