<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}">
<head>
    <title>Quality</title>
</head>

<body>
<header layout:fragment="custom-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Cosmos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/perspective">Perspective</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/data">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/knowledge">Knowledge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="/quality">Quality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/query">Query</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div layout:fragment="custom-content">
<h1>Quality View</h1>
<p>This is the content for the Data page.</p>
</div>

<footer class="footer mt-auto py-3 bg-light" layout:fragment="custom-footer">
    <div class="container">
        <span class="text-muted">Quality: OSS Knowledge Server</span>
    </div>
</footer>
</body>
</html>