<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Constellation Form</title>
</head>
<body>
<form th:fragment="constellation-form"
      x-data
      @htmx:after-request="if($event.detail.successful) $el.reset()"
      action="#"
      th:action="@{/constellation}"
      th:object="${constellationForm}"
      method="post"
      hx-post="/constellation"
      hx-target="#constellation-table-body"
      hx-swap="afterbegin"
      hx-trigger="submit">
    <div class="mb-3">
        <label for="nameInput">Name</label>
        <input th:field="*{name}" type="text" class="form-control" id="nameInput"
               placeholder="Constellation Name" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
</body>
</html>