<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <title>Constellation Table Row</title>
</head>
<body>
<header></header>
<main>
    <table>
        <th:block th:fragment="new-constellation-row">
            <tr th:replace="~{:: constellation-row(constellation=${newConstellation})}"></tr>
        </th:block>

        <tr th:fragment="constellation-row(constellation)" th:id="${'constellation-' + constellation.id()}">
            <td th:text="${constellation.name()}"></td>
            <td th:text="${constellation.created()}"></td>
            <td th:text="${constellation.processed()}"></td>
            <td th:text="${constellation.duration()}"></td>
            <td class="text-center">
                <button class="btn btn-primary btn-sm me-2"><i class="bi bi-arrow-clockwise"></i>
                </button>
                <button class="btn btn-danger btn-sm"
                        th:attr="hx-delete=@{/constellation/{id}(id=${constellation.id()})}"
                        hx-target="closest tr"
                        hx-swap="outerHTML"><i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </table>
</main>
</body>
</html>
