<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>Discovery</title>
</head>
<body>
<header>
    <div id="header-content" layout:fragment="header-content"
         th:replace="~{fragments/layout/navigation :: navigation-content}"></div>
</header>
<main>
    <div id="main-content" th:fragment="main-content" layout:fragment="main-content">
        <div class="row mt-3 mb-3">
            <div class="col-md-3 ">
                <div th:replace="~{fragments/discovery/discovery-search-panel :: search-panel}"></div>
            </div>
            <div class="col-md-9">

            </div>
        </div>
    </div>
</main>
<footer>
    <div id="footer-content" layout:fragment="footer-content" th:replace="~{fragments/layout/footer :: #footer-content}"></div>
</footer>
</body>
</html>