<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Query</title>
</head>
<body>
<header>
    <div id="header-content" layout:fragment="header-content"
         th:replace="~{fragments/layout/navigation :: navigation-content}"></div>
</header>
<main>
    <div id="main-content" th:fragment="main-content" layout:fragment="main-content">
        <h1>Query View</h1>
        <p>This is the content for the Query page.</p>
    </div>
</main>
<footer>
    <div id="footer-content" layout:fragment="footer-content" th:replace="~{fragments/layout/footer :: #footer-content}"></div>
</footer>
</body>
</html>