<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Scope</title>
</head>
<body>
<header>
    <div id="header-content" layout:fragment="header-content"
         th:replace="~{fragments/navigation :: navigation-content}"></div>
</header>
<main>
    <div id="main-content" th:fragment="main-content" layout:fragment="main-content">
        <div class="row mt-3 mb-3">
            <div class="col-md-12">
                <div class="accordion" id="createScopeAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#createScopeCollapse">
                                Create a new Scope
                            </button>
                        </h2>
                        <div id="createScopeCollapse" class="accordion-collapse collapse"
                             data-bs-parent="#createScopeAccordion">
                            <div class="accordion-body">
                                <th:block th:replace="~{fragments/scope/scope-form :: scope-form}"></th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead class="text-center">
                            <tr>
                                <th>Name</th>
                                <th>STAMP</th>
                                <th>Language</th>
                                <th>Navigation</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="scopes-table-body">
                            <th:block th:each="individualScope : ${scopes}">
                                <tr th:replace="~{fragments/scope/scope-table-row :: scope-row(scope=${individualScope})}"></tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div id="footer-content" layout:fragment="footer-content" th:replace="~{fragments/footer :: #footer-content}"></div>
</footer>
</body>
</html>