<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>Navigation</title>
</head>
<body>
<header>
    <div id="header-content" th:fragment="navigation-content" hx-swap-oob="true">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand"
                   th:classappend="${activePage == 'home' ? 'active' : ''}"
                   href="/home"
                   hx-get="/home"
                   hx-target="#main-content"
                   hx-swap="outerHTML"
                   hx-push-url="true">Cosmos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${activePage == 'scope' ? 'active' : ''}"
                               href="/context"
                               hx-get="/scope"
                               hx-target="#main-content"
                               hx-swap="outerHTML"
                               hx-push-url="true">Scope</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${activePage == 'discovery' ? 'active' : ''}"
                               href="/discovery"
                               hx-get="/discovery"
                               hx-target="#main-content"
                               hx-swap="outerHTML"
                               hx-push-url="true">Discovery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${activePage == 'constellations' ? 'active' : ''}"
                               href="/constellations"
                               hx-get="/constellations"
                               hx-target="#main-content"
                               hx-swap="outerHTML"
                               hx-push-url="true">Constellations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${activePage == 'synthesize' ? 'active' : ''}"
                               href="/synthesize"
                               hx-get="/synthesize"
                               hx-target="#main-content"
                               hx-swap="outerHTML"
                               hx-push-url="true">Synthesize</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${activePage == 'portal' ? 'active' : ''}"
                               href="/portal"
                               hx-get="/portal"
                               hx-target="#main-content"
                               hx-swap="outerHTML"
                               hx-push-url="true">Portal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${activePage == 'query' ? 'active' : ''}"
                               href="/query"
                               hx-get="/query"
                               hx-target="#main-content"
                               hx-swap="outerHTML"
                               hx-push-url="true">Query</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${activePage == 'rules' ? 'active' : ''}"
                               href="/rules"
                               hx-get="/rules"
                               hx-target="#main-content"
                               hx-swap="outerHTML"
                               hx-push-url="true">Rules</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <div data-bs-theme="dark">
                            <select th:fragment="scopeSelector" class="form-select" id="scopeSelector" name="scopeId" aria-label="Select Scope"
                                    hx-post="/scope/selected"
                                    hx-trigger="change"
                                    hx-swap-oob="true">
                                <option value="" th:selected="${activeScopeId == null}">Select Scope</option>
                                <option th:each="scope : ${scopes}"
                                        th:value="${scope.id()}"
                                        th:text="${scope.name()}"
                                        th:selected="${activeScopeId != null and activeScopeId == scope.id()}">Scope Name</option>
                            </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
</body>
</html>
